
<div class="container">
    <app-notification></app-notification>
    <div class="form">
        <div class="title">
            Create
        </div>
        <form (ngSubmit)="onSubmit()"> 
            <div class="form__container">
                <div class="form__cover">                            
                    <div class="form__item">
                        <label class="form__label">Title</label>
                        <input type="text" placeholder="title" [(ngModel)]="news.title" name="title">
                    </div>       
                    <div class="form__item">
                        <label class="form__label">Content</label>
                        <textarea placeholder="content" maxlength="3000" [(ngModel)]="news.content" name="content"></textarea>
                    </div>       
                </div>  
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div> 
    <div class="rules__container">
        <div class="title">
            Rules
        </div>
        <div class="rules">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque dignissimos consequuntur, asperiores, expedita neque delectus voluptas amet quis aperiam, aliquid nostrum. Obcaecati, pariatur debitis delectus minima facilis unde saepe aliquid commodi necessitatibus nemo amet quisquam omnis corrupti ipsam reprehenderit blanditiis quia! Ab optio eos totam perferendis? Rem, dolor quibusdam?
        </div>
    </div>
</div>



