<div class="chat__block">
    <app-notification></app-notification>
    <div class="messages__block" 
            #messagesBlock
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollUpDistance]="1"
            [infiniteScrollThrottle]="200"
            (scrolledUp)="onScrollUp()"
            [scrollWindow]="false">
        <div class="messages__item" 
            [ngClass]="getMessageClass(message.authorId)"
            *ngFor="let message of messages.reverse()">
            <div class="author">
                <div class="author__avatar">
                    <img [src]="message.avatarUrl" alt="">
                </div>
                <div class="info">
                    <div class="author__name">
                        <div class="div">{{message.author}}</div>
                    </div>
                    <div class="date edit">
                        <span>{{message.dateCreated}}</span> 
                        <div class="fa-icon" *ngIf="message.authorId == currentUserId || isAdmin">
                            <div class="dropdown">
                                <i class="fa fa-edit"></i>                      
                                <div class="dropdown-content">
                                    <a (click)="deleteMessage(message.id)">Delete</a>                                       
                                    <a *ngIf="isAdmin" (click)="blockUser(message.authorId)">Block user</a>
                                </div>             
                            </div>  
                        </div>
                    </div>                
                </div>       
            </div>
            <div class="text">
                <p>{{message.text}}</p>      
            </div>
        </div>
    </div>
    <div class="input__message">
        <div class="input" *ngIf="currentUserId != null">
            <textarea  maxlength="200" placeholder="Write message..." [(ngModel)]="message.text" required></textarea>
            <div class="send__btn btn" (click)="sendMessage()">Send</div>
        </div>    
        <div *ngIf="currentUserId == null" class="unauthenticated">
            <a routerLink="/login">Login </a><span>&nbsp;to use the chat</span>    
        </div>
    </div>
</div>
