<div class="container">
    <app-notification></app-notification>
    <div class="user__container">
        <div class="user__container__avatar">
            <img [src]='profile.avatarUrl'>
            <div class="avatar__container">
                <label>            
                    <input class="user__avatar" type="file" (change)="changeAvatar($event)"  name="avatar"/>    
                    <span class="user__avatar__label btn"> Change avatar </span>
                </label>
            </div> 
        </div>      
        <form class="edit" (ngSubmit)="onSubmit()">           
            <div>     
                <input type="text" value={{profile.name}} [(ngModel)]="profile.name" class="form-control mb-3 w-25" name="Name" placeholder="name">
            </div>
            <div>      
                <input type="number" value={{profile.age}}  [(ngModel)]="profile.age" class="form-control mb-3 w-25" name="Age" placeholder="age"
                    min="1" max="110">
            </div>
            <div>
                <button type="submit" class="btn save_btn">Save</button>  
            </div>                                  
        </form>
    </div>
</div>   
