<nav id="navbar">
    <div class="container__nav">
        <div class="logo">
            <a href="">MovieList</a>
        </div>      
        <div class="search" #searchContainer>
            <input #inputValue [(ngModel)]="value" type="search" placeholder="Search movie..." 
              (keyup)="movieService.getSearchQuery($event)"> 
            <div class="results" *ngIf="resultVisible">
              <div class="result__item" *ngFor="let movie of movies | slice:0:displayCount" (click)="closeSearch()" [routerLink]="['/movie', movie.id]">
                <div class="result__poster" >
                  <img [src]="movie.posterUrl">
                </div>
                <div class="description">
                  <span class="title">{{movie.title}}</span>
                  <div class="episodes__container">
                    <div class="genres">
                      <div *ngFor="let genre of movie.genres">{{genre.name}}</div>
                    </div>
                    <span class="episodes"> Ep {{movie.episodes}}</span>  
                    <span class="episodes minutes"> {{movie.episodeDuration}}m</span> 
                  </div>                     
                </div>
              </div>
            </div>
          </div>
        <div class="movie">
            <a (click)="inputValue.value = ''" routerLink="/movie">Movie</a>
        </div>
        <div class="buttons">
            <div class="admin" *ngIf="accountService.isAdmin() && accountService.isUserAuthenticated()">
              <button (click)="accountService.switchAdminMode()" class="admin__btn btn" [class.mode-on]="!accountService.isAdminMode" [class.mode-off]="accountService.isAdminMode">
                {{ accountService.isAdminMode ? 'Admin mode OFF' : 'Admin mode ON' }}
            </button>
            </div> 
            <div *ngIf="!accountService.isUserAuthenticated()"  class="login__profile">
                <button class="login__profile__btn btn" routerLink="/login">Login</button> 
            </div>
            <div *ngIf="accountService.isUserAuthenticated()"  class="login__profile">
                <div class="dropdown">
                <button class="login__profile__btn btn" routerLink="/profile">Profile</button>                       
                    <div class="dropdown-content">
                        <a href="#" routerLink="/movie-list">Movie list</a>
                        <a routerLink="/edit-profile">Edit profile</a>
                        <a routerLink="/create-news">Create news</a>
                        <a href="#" (click)="logout()">Logout</a>
                    </div>             
                </div>   
            </div>          
        </div>   
    </div>
</nav>


