<nav id="navbar">
    <div class="container__nav">
        <div class="logo">
            <a href="">AnimeList</a>
        </div>      
        <div class="search" #searchContainer>
            <input [(ngModel)]="value" type="search" placeholder="Search anime..." 
              (keyup)="animeService.getSearchQuery($event)"> 
            <div class="results" *ngIf="resultVisible">
              <div class="result__item" *ngFor="let anime of animes | slice:0:displayCount" (click)="closeSearch()" [routerLink]="['/anime', anime.id]">
                <div class="result__poster" >
                  <img [src]="anime.posterUrl">
                </div>
                <div class="description">
                  <span class="title">{{anime.title}}</span>
                  <div class="episodes__container">
                    <div class="genres">
                      <div *ngFor="let genre of anime.genres">{{genre.name}}</div>
                    </div>
                    <span class="episodes"> Ep {{anime.episodes}}</span>  
                    <span class="episodes minutes"> {{anime.episodeDuration}}m</span> 
                  </div>                     
                </div>
              </div>
            </div>
          </div>
          
          
        <div class="anime">
            <a routerLink="/anime">Anime</a>
        </div>
        <div class="buttons">
            <div class="admin" *ngIf="accountService.isAdmin()">
                <button *ngIf="!accountService.isAdminMode" (click)="accountService.switchAdminMode()" class="admin__btn btn mode-on">Admin mode ON</button>
                <button *ngIf="accountService.isAdminMode" (click)="accountService.switchAdminMode()" class="admin__btn btn mode-off">Admin mode OFF</button>
            </div> 
            <div *ngIf="!accountService.isUserAuthenticated()"  class="login__profile">
                <button class="login__profile__btn btn" routerLink="/login">Login</button> 
            </div>
            <div *ngIf="accountService.isUserAuthenticated()"  class="login__profile">
                <div class="dropdown">
                <button class="login__profile__btn btn" routerLink="/profile">Profile</button>                       
                    <div class="dropdown-content">
                        <a href="#" routerLink="/animeList">Anime list</a>
                        <a routerLink="/editProfile">Edit profile</a>
                        <a routerLink="/createNews">Create news</a>
                        <a href="#" (click)="accountService.logOut()">Logout</a>
                    </div>             
                </div>   
            </div>          
        </div>   
    </div>
</nav>