  
<ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig">
    <div ngxSlickItem  class="slider" *ngFor="let anime of ongoingAnime ; index as i">     
        <div class="slider__poster">
            <img [src]="slides[i].img">
        </div> 
        <div class="slider__descriptions">
            <div class="spotligth">
                #{{i+1}} Spotligth
            </div>
            <div class="slider__title">
                <p>{{anime.title}}</p> 
            </div>
            <div class="rating">
                Rating {{anime.rating}}
            </div>
            <div class="about">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus ut nemo harum corrupti sit, iusto quasi. Fugit, corporis illo, modi non obcaecati maxime ad aliquam laborum ullam natus qui dolorem ex? Velit dolore magni animi porro est qui laborum? Unde adipisci pariatur autem dolore nobis mollitia tempore dolorum placeat vel quis, quasi, eligendi libero nihil possimus, praesentium voluptatem. Earum nesciunt optio voluptatem odit tenetur consequatur adipisci non qui, quaerat officiis at eius facilis eveniet excepturi velit repellat dolor aperiam modi aliquid atque! Aspernatur esse, quos veritatis quibusdam, odit deleniti incidunt beatae doloribus aut dolore illo reiciendis ratione amet dignissimos pariatur.</p>
            </div>
            <div class="buttons">
                <div class="addToList">
                    <div *ngIf="!animeService.isAnimeInList(anime.id)">
                        <button class="btn"(click)="animeService.addAnimeToList(anime.id)" >Add to list</button> 
                    </div>
                    <div *ngIf="animeService.isAnimeInList(anime.id)">
                        <button class="btn" (click)="animeService.deleteAnimeFromList(anime.id)" >Delete from list</button> 
                    </div>
                </div>
                <div class="detail">
                    <button class="btn" [routerLink]="['/anime', anime.id]">Detail</button>
                </div>
            </div>      
        </div>           
    </div>
</ngx-slick-carousel>

<div class="wrapper">
    <div class="container">
        <div class="sidebar">
            <div class="title">Top anime</div>
            <div class="anime__container">
                <div class="anime__item" *ngFor="let anime of topAnime" >          
                    <div class="anime__poster" [routerLink]="['/anime', anime.id]">
                        <img class="poster" [src]="anime.posterUrl">
                        <div class="overlay">
                            <a  class="icon">
                              <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="episodes__container">
                            <span class="episodes"> Ep {{anime.episodes}}</span>  
                            <span class="episodes minutes"> {{anime.episodeDuration}}m</span> 
                        </div>
                    </div>           
                    <div class="anime__description">
                        <div class="anime__title">
                            <span>
                                {{anime.title}}
                            </span>
                        </div>
                        <div class="anime__type">
                            <span>
                                {{anime.animeType}}
                            </span>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <div class="main">
            <img class="gif__chika" src="https://media.tenor.com/lVhFnY9tc94AAAAi/anime-dance.gif" alt="">
            <div class="title">News</div>
            <div class="news__container">
                <div class="news__item" *ngFor="let _news of news">
                    <div class="news__title">{{_news.title}}</div>
                    <div class="news__description"> <p>{{_news.content}}</p></div>
                    <div class="details">
                        <div class="date_created">{{_news.dateCreated}}</div>
                        <button class="read" class="btn" [routerLink]="['/news', _news.id]">Read...</button>
                    </div>
                </div>               
            </div>
        </div>
        <div class="sidebar">
            <div class="title">Upcoming</div>
            <div class="anime__container">
                <div class="anime__item" *ngFor="let anime of upcomingAnime" >          
                    <div class="anime__poster" [routerLink]="['/anime', anime.id]">
                        <img class="poster" [src]="anime.posterUrl" alt="">
                        <div class="overlay">
                            <a  class="icon">
                              <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="episodes__container">
                            <span class="episodes"> Ep {{anime.episodes}}</span>  
                            <span class="episodes minutes"> {{anime.episodeDuration}}m</span> 
                        </div>
                    </div>           
                    <div class="anime__description">
                        <div class="anime__title">
                            <span>
                                {{anime.title}}
                            </span>
                        </div>
                        <div class="anime__type">
                            <span>
                                {{anime.animeType}}
                            </span>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div class="container column"> 
        <div class="block">
            <div class="main-2">
                <div class="title">Online chat </div>
                <div class="chat__container">
                    <div class="chat">
                        <app-chat></app-chat>
                    </div>
                </div>
            </div>
            <div class="main-2">
                <div class="title">Join us</div>
                <div class="join-us-container">
                    <div class="joins">
                        <a href="https://t.me/usermakson" class="join-icon telegram"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/maksym-bratus-b51389260/" class="join-icon linkedin"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt=""> </a>
                        <a href="https://github.com/MaksBrat" class="join-icon github"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" alt=""></a>
                    </div>
                    <img class="kitagawa-img" src="http://surl.li/eyyee">
                </div>
            </div>
        </div>       
    </div>
</div>



