slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
}
  
.slick-prev,
.slick-next {
  display: none;
}
.slider{
    position: relative;
}
.slider__poster{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider__poster img{
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.slider__poster::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #202125;
    background: -moz-linear-gradient(90deg,#202125 0,rgba(32,33,37,.6) 40%,rgba(32,33,37,0) 60%,rgba(32,33,37,0) 80%,#202125 100%);
    background: -webkit-linear-gradient(90deg,#202125 0,rgba(32,33,37,.6) 40%,rgba(32,33,37,0) 60%,rgba(32,33,37,0) 80%,#202125 100%);
    background: linear-gradient(90deg,#202125 0,rgba(32,33,37,.6) 40%,rgba(32,33,37,0) 60%,rgba(32,33,37,0) 80%,#202125 100%);
  }
  
  .slider__poster::after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #202125;
    background: -moz-linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 50%,#202125 100%);
    background: -webkit-linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 50%,#202125 100%);
    background: linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 50%,#202125 100%);
}

.slider__descriptions{
    position: absolute;
    top: 200px;
    left: 0;
    color: white;
    padding: 20px 40px;
}
.spotligth{
    color:#CAE962;
    font-size: 20px;
}
.slider__title{
    font-size: 60px;
    font-weight: 500;
}
.rating{
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
}
.about{
    width: 750px;
    height: 50px;
}
.slider__title{
    width: 750px;
}
.slider__title p{
    -webkit-line-clamp: 1;
}
.btn{
    border-radius: 25px;
    padding: 10px 30px;
}
.addToList .btn{
    padding: 10px 30px;
}
.buttons{
    margin-top: 30px;
    display: flex;
}
.detail {
    margin-left: 10px;
}
.detail .btn{
    color: white;
    background-color: #6d6e74;
}
.detail .btn:hover{
    background-color: #a6a7ae;
}
.container{
    position: relative;
    display: flex;
    margin: 50px 20px;
    gap: 20px;
}
.main{
    position: relative;
    flex: 1 1 60%;
}
.sidebar{
    flex: 1 1 20%;
}
.container .title{
    color:#CAE962;
    font-size: 36px;
    margin-bottom: 10px;
}

/* Main (news) */
.news__container{
    flex-direction: column;
    background-color: #414248;
    gap: 20px;
}
.news__item{
    width: 100%;
    height: 200px;
}
.news__title{
    font-size: 24px;
}
.news__description{
    font-size: 20px;
}
.details .btn{
    padding: 10px 20px;
}

/*Sidebar */
.anime__container{
    width: 100%;
}
.anime__item{   
    width: 100%;
    height: 100%;
}
.anime__poster{
    width: 100%;
    height: 400px;
}
.anime__poster img{
    object-fit: cover;
}
.read{
    margin-right: 0;
}
/* Gif */
.gif__chika{
    position: absolute;
    width: 100px;
    height: 100px;
    top: -30px;
    right: 50px;
    z-index: -1;
}
