  
<ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig">
    <div ngxSlickItem  class="slider" *ngFor="let movie of ongoingMovie; index as i">     
        <div class="slider__poster">
            <img [src]="slides[i].img">
        </div> 
        <div class="slider__descriptions">
            <div class="spotligth">
                #{{i+1}} Spotligth
            </div>
            <div class="slider__title">
                <p>{{movie.title}}</p> 
            </div>
            <div class="rating">
                Rating {{movie.rating}}
            </div>
            <div class="about">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus ut nemo harum corrupti sit, iusto quasi. Fugit, corporis illo, modi non obcaecati maxime ad aliquam laborum ullam natus qui dolorem ex? Velit dolore magni animi porro est qui laborum? Unde adipisci pariatur autem dolore nobis mollitia tempore dolorum placeat vel quis, quasi, eligendi libero nihil possimus, praesentium voluptatem. Earum nesciunt optio voluptatem odit tenetur consequatur adipisci non qui, quaerat officiis at eius facilis eveniet excepturi velit repellat dolor aperiam modi aliquid atque! Aspernatur esse, quos veritatis quibusdam, odit deleniti incidunt beatae doloribus aut dolore illo reiciendis ratione amet dignissimos pariatur.</p>
            </div>
            <div class="buttons">
                <div class="addToList">
                    <button (click)="isMovieInUserList[movie.id] ? deleteMovieFromList(movie.id) : addMovieToList(movie.id)" class="add__btn btn">
                        {{ isMovieInUserList[movie.id] ? 'Delete from list' : 'Add to list' }}
                    </button>
                </div>
                <div class="detail">
                    <button class="btn" [routerLink]="['/movie', movie.id]">Details</button>
                </div>
            </div>      
        </div>           
    </div>
</ngx-slick-carousel>

<div class="wrapper">
    <div class="container">
        <div class="sidebar">
            <div class="title">Top movie</div>
            <div class="movie__container">
                <div class="movie__item" *ngFor="let movie of topMovie" >          
                    <div class="movie__poster" [routerLink]="['/movie', movie.id]">
                        <img class="poster" [src]="movie.posterUrl">
                        <div class="overlay">
                            <a  class="icon">
                              <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="episodes__container">
                            <span class="episodes"> Ep {{movie.episodes}}</span>  
                            <span class="episodes minutes"> {{movie.episodeDuration}}m</span> 
                        </div>
                    </div>           
                    <div class="movie__description">
                        <div class="movie__title">
                            <span>
                                {{movie.title}}
                            </span>
                        </div>
                        <div class="movie__type">
                            <span>
                                {{movie.movieType}}
                            </span>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <div class="main">
            <div class="title">News</div>
            <div class="news__container">
                <div class="news__item" *ngFor="let newsItem of news">
                    <div class="news__title">{{newsItem.title}}</div>
                    <div class="news__description"> <p>{{newsItem.content}}</p></div>
                    <div class="details">
                        <div class="date_created">{{newsItem.dateCreated}}</div>
                        <button class="read" class="btn" [routerLink]="['/news', newsItem.id]">Read...</button>
                    </div>
                </div>               
            </div>
        </div>
        <div class="sidebar">
            <div class="title">Upcoming</div>
            <div class="movie__container">
                <div class="movie__item" *ngFor="let movie of upcomingMovie" >          
                    <div class="movie__poster" [routerLink]="['/movie', movie.id]">
                        <img class="poster" [src]="movie.posterUrl" alt="">
                        <div class="overlay">
                            <a  class="icon">
                              <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="episodes__container">
                            <span class="episodes"> Ep {{movie.episodes}}</span>  
                            <span class="episodes minutes"> {{movie.episodeDuration}}m</span> 
                        </div>
                    </div>           
                    <div class="movie__description">
                        <div class="movie__title">
                            <span>
                                {{movie.title}}
                            </span>
                        </div>
                        <div class="movie__type">
                            <span>
                                {{movie.movieType}}
                            </span>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div class="container column"> 
        <div class="block">
            <div class="main-2">
                <div class="title">Online chat </div>
                <div class="chat__container">
                    <div class="chat">
                        <app-chat></app-chat>
                    </div>
                </div>
            </div>
            <div class="main-2">
                <div class="title">Join us</div>
                <div class="join-us-container">
                    <div class="joins">
                        <a href="https://t.me/usermakson" class="join-icon telegram"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/maksym-bratus-b51389260/" class="join-icon linkedin"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt=""> </a>
                        <a href="https://github.com/MaksBrat" class="join-icon github"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" alt=""></a>
                    </div>
                    <img class="kitagawa-img" src="http://surl.li/eyyee">
                </div>
            </div>
        </div>       
    </div>
</div>



