.container{
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 25px;
}
/* Filtres */
.filtres__container{
    width: 25%;
    position: relative;
    flex: 0 0 auto;
    background-color: #2A2C31;
    color: #CAE962;
}
.filter__title{
    font-size: 24px;
}
.filter__item__container{
    padding: 10px;
}
.genres{
    padding: 10px 10px 10px 0;
}
.genres__cover{
    margin-left: 0;
}
.select__name{
    width: 90px;
}
.orderBy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.orderBy__input{
    width: 25px;
    height: 15px;
}



