slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
  }
  
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}