<div class="container">
    <div class="user__container">
        <div class="user__container__avatar">
            <img [src]='profile.avatarUrl'>
        </div>
        <p class="user__container__info nickname">
            {{profile.name}}
        </p>
        <p class="user__container__info" *ngIf="profile.age != 0 && profile.age != null">Age {{profile.age}} / Registered at {{getRegisteredDate()}} </p>
        <p class="user__container__info" *ngIf="profile.age == 0 || profile.age == null">Age - / Registered at &nbsp; {{getRegisteredDate()}} </p> 
    </div>
    <div class="list">
        <div class="dropdown">
            <button class="movie__btn btn" routerLink="/movieList">Movie list</button>
        </div>
    </div> 
</div>

      