.about{
    padding: 0 30px; 
}
.about__item{
    display: flex;
}
.movie__poster{
    width: 400px;
    height: 500px;
}
.movie__poster img{
    width: 100%;
    height: 100%;
}
.movie__poster:after{
    background: none;
    
}
.movie__description{
    display: flex;
    flex-direction: column;
    gap:20px;
    color: #CAE962;
    background-color: #4A4B51;
    margin-left: 20px;
    padding: 30px;
    width: 400px;
    height: 500px;
}
.name{
    font-size: 26px;
    margin-bottom: 5px;
}
span{
    margin-top: 10px;
}
.buttons{
    display: flex;   
}
.add__btn{
    width: 400px;
    margin: 20px 30px;
}

.admintab{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 0 0 -10px;
}
.admin__btn{
    display: block;
    margin: 20px 0;
}

.trailer{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}
.trailer .btn{
    padding: 10px 30px;
}

.genres span{
    padding-right: 5px;
}
